@{
    ViewData["Title"] = "Delete Application";
}

@model NewMovie

<h2>Confirm Deletion of @Model.Title</h2>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId"/>
</form>
