@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<p style="text-align:center;">
    <img src="~/img/JoelHilton.jpg" class="align-self-center"/>
</p>

<br /><br />

<div>
    <a asp-controller="Home" asp-action="AddMovies">Get Started</a>
</div>
